
:root {
    /* Colores Header */
    --variable: valor;
    --header-color-nav: #3a535a;
    --header-color-logo: rgb(46, 46, 46);
    --header-color-h1: rgb(38, 41, 41);
    --header-color-p-a: rgb(78, 78, 78);

    /* Colores Titulo */
    --titulo-color-h1:rgb(38, 41, 41);

    /* Background */
    --sobre-mi-background: #EAF2FD;
    --skills-background:#F5F5F5;
    --contenedor__iconos-skills: #ffffff;   

    --hobbies__background:#F5F5F5;

    --formacion-academica-background: #EAF2FD;
    --contacto-background:#F5F5F5;

    --footer-background: gray;
     
}
