
.experiencia_profesional{
    padding: 20px 50px;
}
/* JUEGO AHORCADO */

.contenedor__principal__ahorcado{
    padding: 50px;
}
.contenedor__ahorcado{
    display: flex;
    align-items: center;
    margin: 15px;
}
.contenedor__img-ahorcado{
    display: flex;
    width: 767px;
}
.img__ahorcado{
    max-width: 100%;
    max-height: 100%;
}
.contenedor-ahorcado-texto{
    padding: 15px;
}
.contenedor-ahorcado-texto h2{
    font-size: 22px;
    margin: 5px;
}
.contenedor-ahorcado-texto p{
    margin: 5px;
}
.contenedor-ahorcado-texto button{
    margin: 5px;
    padding: 10px;
}
.btn-ahorcado-izquierda{
    color: #2A7AE4;
    border-color: #2A7AE4; 
    border: 1px solid;
}
.contenedor-ahorcado-texto .btn-ahorcado-derecha{
    color: #ffffff;
    background-color: #2A7AE4;
    border: none;
    padding: 11px;
}

/* ENCRIPTADOR */
.contenedor__encriptador{
    display: flex;
    align-items: center;
}
.contenedor__texto-encriptador{
    padding: 50px;
}
.contenedor__img-encriptador{
    display: flex;
    width: 767px;
}
.img-encriptador{
    max-width: 100%;
    max-height: 100%;
}
.contenedor__texto-encriptador h2{
    font-size: 22px;
    margin: 5px 0;
}
.contenedor__texto-encriptador p{
    margin: 5px 0;
}
.contenedor__texto-encriptador button{
    margin: 5px;
    padding: 10px;
}
.btn-encriptador-izquierda{
    color: #2A7AE4;
    border-color: #2A7AE4; 
    border: 1px solid;
}
.contenedor__texto-encriptador .btn-encriptador-derecha{
    color: #ffffff;
    background-color: #2A7AE4;
    border: none;
    padding: 11px;
}

/* slider ahoracado*/
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 13s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }