footer{
    display: flex;
    align-items: center;
    background-color: var(--footer-background);
    height: 50px;
}
.contenedor-footer{
    display: flex;
}
.footer__contenido{
    width: 100%;
    display: flex;
}
.contenido-enlaces{
    width: 150px;
}
.contenedor-dimencionaes-enlaces{
    justify-content: space-around;
    display: flex;
}
.footer__propietario{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}