.formacion-academica{
    display: flex;
    background-color: var(--formacion-academica-background);
    height: 581px;
    align-items: center;
    justify-content: center;
}

.contenedor__formacion-academica{
    display: block
}

.contenedor_del_contenedor__formacion-academica{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
 

}

.contenedor__iconos-formacion-academica{
    background-color: var(--contenedor__iconos-skills);
    height: 200px;
    width: 95%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.img__formacion-academica{
    max-width: 100%;
    max-height: 100%;
}
.nombre-academia-formacion{
    font-size: 22px;
}
.nombre-academia-formacion, .nombre-estado-formacion{
    margin: 5px;
}