header{
    width: 100%;
    height: 100vh;
    background: #DA4453;  /* Quitar*/
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    background: cover;
    background-attachment: fixed;   /* efecto imagen / IMAGEN FIJA */
    position: relative; 
    background-position: center;
}
.contenedor__header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.contenedor__header .header__logo{
    color: var(--header-color-logo);
}
.header__logo{
  background: var(--header-color-logo);
  background: linear-gradient(90deg, #3e2ae4, #32a9fd); 
  font-family: system-ui;
  font-size: 1.4rem;
  line-height: 115%;
  font-weight: bolder;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}
.menu a{
    text-decoration: none;
    color: var(--header-color-nav);
}
.menu .contacto_header, .header__logo {
    color: #ffffff;
    background-color: #2A7AE4;
    border: none;
    padding: 11px;
}

.header__titulo{
    font-size: 25px;
    color: var(--header-color-h1);
}
.header__texto{
    padding: 15px;
    margin: 10px;
    color: var(--header-color-p-a);
    font-size: 22px;
    line-height: 30px;
}
.contenedor__vinculo{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}
.contenedor__vinculo a{
    text-decoration: none;
    color: var(--header-color-p-a);

}

/* header2 */
.header__cabecera{
    display: flex;
    margin: 50px;
    justify-content: center;
}

.contenedor__header__titulo{
    padding: 20px;
    width: 60%;
}
.contenedor__img-header{
    margin: 20px;
    width: 40%;
     
}
.img__header{
    display: flex;
    width: 80%;
}
.contenedor__header{
    display: flex;
}
.texto-header{
    display: flex;
    width: 1224px;
    justify-content: space-around;

}

/* CV */
.btn_cv_cerrar {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
  }
  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  .pdfview_img{
    opacity: 0;
  }
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  .modaal {
    background-color: #fff;
    width: 90%;
    max-width: 100%;
    height: 90%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .pdfview {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_cv{
    display: none;
}
 
 