.sobre-mi{
    background-color:var(--sobre-mi-background)
}
.contenedor__sobre-mi{
    padding: 60px;
    width: 57%;
}
.sobre-mi__texto p{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
